@media only screen and (max-width: 768px)
{
  .title
  {
    font-size: 35px;
  }

  #logo
  {
    width: 100%;
  }

  .form-inline .form-control
  {
    width: 100% !important;
  }

  .btn-primary
  {
    width: 100% !important;
    margin-top: 3%;
  }  

  .autocomplete-items 
  {
    width: 94% !important;
    margin-left: 3%;
    margin-top: -9%;
  }
}


@media only screen and (min-width: 769px) and (max-width: 999px)  
{
  .title
  {
    font-size: 35px;
  }

  #logo
  {
    width: 80%;
  }

  .form-inline .form-control
  {
    width: 100% !important;
  }

  .btn-primary
  {
    width: 100% !important;
    margin-top: 3%;
  }  

  .autocomplete-items 
  {
    width: 90% !important;
    margin-left: 5%;
    margin-top: -13%;
  }
}


@media only screen and (min-width: 1000px)
{
  #logo
  {
    width: 65%;
  }

  .form-inline .form-control
  {
    width: 75% !important;
  }  

  .btn-primary
  {
    width: 22% !important;
  }  

  .autocomplete-items 
  {
    width: 69% !important;
    margin-left: 4%;
  }
}