/* easy sizing that includes border, padding, content but margin */
* 
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

/* ensures that the elements don't overflow */
img, embed, object, video 
{
  max-width: 100%;
}

body
{
  color: #595959;  
  text-align: center;
  background-color: #f6e2e2 !important;
}

.title 
{
  font-family: 'Gaegu', cursive;
}

#logo
{
  width: 50%;
}

.form-control, .form-control option
{
  text-transform: capitalize;
}

.btn-primary
{
  background-color: #db7689 !important;
  border-color: #db7689 !important;
  margin-left: auto;
}

#subbreed-selector
{
  color: white;
  background-color: #d7b3af;
  border: 0;
}

.autocomplete-items 
{
  text-transform: capitalize;
  position: inherit;
  z-index: 99;
  width: 82%;

  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div 
{
  padding: 2%;
  cursor: pointer;
  background-color: #ffffff; 
}

/* when hovering over a menu item: */
.autocomplete-items div:hover 
{
  background-color: #e2e2e2; 
}

/* when navigating through the items using the arrow keys */
.autocomplete-active 
{
  background-color: #ffc9d3 !important; 
}



