/* easy sizing that includes border, padding, content but margin */
* 
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

/* ensures that the elements don't overflow */
img, embed, object, video 
{
	max-width: 100%;
}

*
{
	color: #595959;
}

body
{
  background-color: #f6e2e2 !important;
}

.title 
{
	font-family: 'Gaegu', cursive;
}

#logo
{
	width: 50%;
}

@media (min-width: 576px)
{
  .form-inline .form-control
  {
    width: 82% !important;
  }  
}

.form-control option
{
	text-transform: capitalize;
}

.autocomplete 
{
  position: relative;
  display: inline-block;
}

.autocomplete-items 
{
  text-transform: capitalize;

  position: inherit;
  border: 1px solid #595959;
  z-index: 99;
  width: 82%;

  /* position the autocomplete items to be the same width as the container */
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div 
{
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff; 
}

.autocomplete-items div:hover 
{
  /* when hovering an item: */
  background-color: #e2e2e2; 
}
.autocomplete-active 
{
  /* when navigating through the items using the arrow keys */
  background-color: #ffc9d3 !important; 
}

.btn-primary
{
	background-color: #db7689 !important;
	border-color: #db7689 !important;
  margin-left: auto;
  width: 15%;
}
